<div class="card">
  <div class="card-image">
    <img src="assets/pala.png" alt="Card Image">
  </div>
  <div class="card-content">
    <h2>Card Başlık</h2>
    <p>Card açıklama burada olacak.</p>
    <button (click)="openModal()">Detayları Göster</button>

  </div>
</div>

<div class="card1">
  <div class="card-image">
    <img src="assets/pala2.jpg" alt="Card Image">
  </div>
  <div class="card-content">
    <h2>Card Başlık</h2>
    <p>Card açıklama burada olacak.</p>
    <button (click)="openModal()">Detayları Göster</button>

  </div>

